
<main>
    <div class="container">
        <h1 class="title">Gerenciamento de Motoristas</h1>
        <ng-content></ng-content>
        <div class="buttons-container">
            <button routerLink="/motorista/cadastromotorista" class="btn cadastrar">Cadastrar</button>
            <button routerLink="/motorista/alterar-status" class="btn alterar">Alterar Status</button>
            <button routerLink="/motorista/consultarmotorista" class="btn consultar">Consultar</button>
        </div>
    </div>
