<main>
    <div class="container">
        <h1 class="title">Gerenciamento de Corridas</h1>
        <ng-content></ng-content>
        <div class="buttons-container">
            <button routerLink="/corrida/registrarcorrida" class="btn registrar">Registrar</button>
            <button routerLink="/corrida/verificar-status" class="btn verificar">Verificar Status</button>
            <button routerLink="/corrida/consultarcorrida" class="btn consultar">Consultar</button>
        </div>
    </div>
</main>