<app-motoristas-layout>
    
    <form [formGroup]="motoristaForm" (ngSubmit)="onSubmit()">
        <div>
          <label>Nome:</label>
          <input type="text" formControlName="nome">
        </div>
        
        <div>
          <label>Data de Nascimento:</label>
          <input type="date" formControlName="dataNascimento">
        </div>
        <div>
          <label>CPF:</label>
          <input type="text" formControlName="cpf">
        </div>
        <div>
          <label>Modelo do Carro:</label>
          <input type="text" formControlName="modeloCarro">
        </div>
        <div>
          <label>status:</label>
          <input type="text" formControlName="status">
        </div>
        <div>
          <label>sexo:</label>
          <input type="text" formControlName="sexo">
        </div>
      
        <button type="submit">Cadastrar</button>
      </form>


</app-motoristas-layout>
